
<!doctype html> 
<html ng-app="WebController"> 
	<head> 
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>Web Service</title>
	  <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
	</head> 
	<body ng-controller="mainController"> 

		<div class="jumbotron text-center" id="header">
			<h1>NJ|E|M|A Employee List <span class="label label-info">!</span></h1>
		</div>


	  <div class="container"> 
	 	<!--HEADER-->
			
		  <table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Firstname</th>
		        <th>Lastname</th>
		        <th>Email</th>
		        <th>Position</th>
		        <th>ssn</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="employee in employees">
		        <td>{{ employee.name }}</td>
		        <td>{{ employee.lastname }}</td>
		        <td>{{ employee.email }}</td>
		        <td>{{ employee.position }}</td>
		        <td>{{ employee.ssn }}</td>
		      </tr>
		    </tbody>
		  </table>

		</div>

		<!--Formulario para insertar nuevos Todo--> 
	 	<div class="container">	
	 		<div id="employee-form" class="row">
	 			<div class="col-sm-7 text-center" >
	 				<form class="borderForm">
	 					<div class="form-group">
	 						<input type="text" class="form-control input-lg text-center" placeholder="First Name" ng-model="formData.name">
	 						<input type="text" class="form-control input-lg text-center" placeholder="Last Name" ng-model="formData.lastname">
	 						<input type="text" class="form-control input-lg text-center" placeholder="age" ng-model="formData.age">
	 						<input type="text" class="form-control input-lg text-center" placeholder="address" ng-model="formData.address">
	 						<input type="text" class="form-control input-lg text-center" placeholder="phone" ng-model="formData.phone">
	 						<input type="text" class="form-control input-lg text-center" placeholder="email" ng-model="formData.email">
	 						<input type="text" class="form-control input-lg text-center" placeholder="position" ng-model="formData.position">
	 						<input type="text" class="form-control input-lg text-center" placeholder="salary" ng-model="formData.salary">
	 						<input type="text" class="form-control input-lg text-center" placeholder="ssn" ng-model="formData.ssn">
	 					</div>
	 					<button class="btn btn-primary btn-lg" ng-click="createEmployee()">Add a new employee</button>
	 				</form>
	 			</div>
	 			<div class="col-sm-5">
	 				<h2>Add more employees</h2>
	 			</div>
	 		</div>
		</div>

		<div class="container-fluid deletebkg">

	 	<!--Delete and display--> 
		  <div id="employee-list" class="row">
		  	<div class="col-sm-4 col-sm-offset-3 ">
		  		<h2 class="text-center"> Delete one employee at a time</h2>
		  		
		  	</div>
				<div class="col-sm-4" >
				 <div class="checkbox" ng-repeat="employee in employees">
					<h4>
						<input type="checkbox" ng-click="deleteEmployee(employee._id)"> {{ employee.name }} {{ employee.lastname }}
					</h4>
				 </div>
				</div>
			</div>
		</div>

	  <!-- Find By Id-->
	  <div class="container">
	  	<div>
	  		<h2 class="text-center"> Employee details </h2>
			</div>

		 	<div class="row">
		 		<div class="col-md-4" >
					<div ng-repeat="employee in employees">
						<label>
							<button type="button" class="btn btn-default btn-lg btn-block" class="form-control" ng-click="findEmployee(employee._id)" id="empButton"> {{ employee.name }} </button>
						</label>
					</div>
				</div>

				<div class="col-md-8" id="empTarget">
					<div class="col-md-5">
						<address>
							{{ femployee.name  + ' ' + femployee.lastname}}<br>
						  <strong>{{ femployee.position }}</strong><br>
						  {{ femployee.address }}<br>
						  {{ femployee.email }}<br>
						  <abbr title="Phone">P:</abbr> {{ femployee.phone }}
						</address>
					</div>
					<div class="col-md-7">
						<dl class="dl-horizontal">
							<dt> SSN: </dt>
						  <dd>{{ femployee.ssn }}</dd>
						  <dt> AGE: </dt>
						  <dd>{{ femployee.age }}</dd>
						  <dt> SALARY: </dt>
						  <dd>{{ femployee.salary }}</dd>
						</dl>
					</div>
				</div>
			</div>
	  
	  </div> 

	  <div class="container-fluid">

	  	<div class="col-sm-5 text-center col-sm-offset-5" class="editForm">
	 				<form>
	 					<div class="form-group">
	 						<input type="text" class=" input-lg text-center" placeholder="First Name" ng-model="femployee.name">
	 						<input type="text" class=" input-lg text-center" placeholder="Last Name" ng-model="femployee.lastname">
	 						<input type="text" class=" input-lg text-center" placeholder="age" ng-model="femployee.age">
	 						<input type="text" class=" input-lg text-center" placeholder="address" ng-model="femployee.address">
	 						<input type="text" class=" input-lg text-center" placeholder="phone" ng-model="femployee.phone">
	 						<input type="text" class=" input-lg text-center" placeholder="email" ng-model="femployee.email">
	 						<input type="text" class=" input-lg text-center" placeholder="position" ng-model="femployee.position">
	 						<input type="text" class=" input-lg text-center" placeholder="salary" ng-model="femployee.salary">
	 						<input type="text" class=" input-lg text-center" placeholder="ssn" ng-model="femployee.ssn">
	 					</div>
	 					<button class="btn btn-primary btn-lg" ng-click="editEmployee(femployee._id)">Edit an employee</button>
	 				</form>
	 			</div>
	  	
	  </div>


	  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> 
	  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script> 
	  <script>
			angular.module('WebController', []); 

			function mainController($scope, $http) { 
				 $scope.formData = {};

				 getEmployees();

			// Create Employee
				 $scope.createEmployee = function(){
				 	$http.post('/api/employees', $scope.formData)
				 	.success(function(data) {
				 		$scope.formData = {};
				 		getEmployees();
				 	})
				 	.error(function(data) {
				 		console.log('Error:' + data);
				 	});
				 };
			
			// Delete Employee

				$scope.deleteEmployee = function(id) {
				  $http.delete('/api/employees/' + id)
				  .success(function(data) {
				 		getEmployees();
				  })
				  .error(function(data) {
				 		console.log('Error:' + data);
				  	});
				  };

				$scope.findEmployee = function(id){
					$http.get('/api/employees/' + id)
					.success(function(data){
						$scope.femployee = data;
						console.log(data)
					})
					.error(function(data){
						console.log('Error: ' + data);
					})
				}

				$scope.editEmployee = function(id){
					$http.put('api/employees/'+ id, $scope.femployee)
					.success(function(data){
						getEmployees();
						$scope.formData = {};
					})
					.error(function(data){
						console.log('Error', + data);
					})
				}

				function getEmployees(){
			 		$http.get('/api/employees')
	 			  .success(function(data) {
			  		$scope.employees = data;
			 			console.log(data)
			 		})
			 		.error(function(data) {
			 			console.log('Error: ' + data);
			 		}); 
			  };
			}
	 </script>
	</body> 
</html>