
<!doctype html> 
<html ng-app="WebController"> 
	<head> 
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>Web Service</title>
	  <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
	</head> 
	<body ng-controller="mainController"> 

		<div class="jumbotron text-center" id="header">
			<h1>NJ|E|M|A Employee List <span class="label label-info">{{ employees.length }}</span></h1>
		</div>


	  <div class="container"> 
	 	<!--HEADER-->
			
		  <table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Firstname</th>
		        <th>Lastname</th>
		        <th>Email</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="employee in employees">
		        <td>{{ employee.name }}</td>
		      </tr>
		    </tbody>
		  </table>

		</div>

		<!--Formulario para insertar nuevos Todo--> 
	 	<div class="container">	
	 		<div id="employee-form" class="row">
	 			<div class="col-sm-7 text-center" >
	 				<form class="borderForm">
	 					<div class="form-group">
	 						<input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="formData.name">
	 					</div>
	 					<button class="btn btn-primary btn-lg" ng-click="createEmployee()">Add a new employee</button>
	 				</form>
	 			</div>
	 			<div class="col-sm-5">
	 				<h2>Add more employees</h2>
	 			</div>
	 		</div>
		</div>

		<div class="container-fluid deletebkg">

	 	<!--Delete and display--> 
		  <div id="employee-list" class="row">
		  	<div class="col-sm-4 col-sm-offset-3 ">
		  		<h2 class="text-center"> Delete one employee at a time</h2>
		  		
		  	</div>
				<div class="col-sm-4" >
				 <div class="checkbox" ng-repeat="employee in employees">
					<label>
						<input type="checkbox" ng-click="deleteEmployee(employee._id)"> {{ employee.name }} 
					</label>
				 </div>
				</div>
			</div>
		</div>

	  <!-- Find By Id-->
	  <div class="container">
	  	<div>
	  		<h2 class="text-center"> Employee details </h2>
			</div>

		 	<div class="row">
		 		<div class="col-md-4" >
					<div ng-repeat="employee in employees">
						<label>
							<button type="button" class="btn btn-default btn-lg btn-block" ng-click="findEmployee(employee._id)" id="empButton"> {{ employee.name }} </button>
						</label>
					</div>
				</div>
				<div class="col-md-8">
					{{ femployee.name }}
				</div>
			</div>
	  
	  </div> 


	  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> 
	  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script> 
	  <script>
			angular.module('WebController', []); 

			function mainController($scope, $http) { 
				 $scope.formData = {};
				 getEmployees();

			// Create Employee
				 $scope.createEmployee = function(){
				 	$http.post('/api/employees', $scope.formData)
				 	.success(function(data) {
				 		$scope.formData = {};
				 		getEmployees();
				 	})
				 	.error(function(data) {
				 		console.log('Error:' + data);
				 	});
				 };
			
			// Delete Employee

				$scope.deleteEmployee = function(id) {
				  $http.delete('/api/employees/' + id)
				  .success(function(data) {
				 		getEmployees();
				  })
				  .error(function(data) {
				 		console.log('Error:' + data);
				  	});
				  };

				$scope.findEmployee = function(id){
					$http.get('/api/employees/' + id)
					.success(function(data){
						$scope.femployee = data;
						console.log(data)
					})
					.error(function(data){
						console.log('Error: ' + data);
					})
				}

				function getEmployees(){
			 		$http.get('/api/employees')
	 			  .success(function(data) {
			  		$scope.employees = data;
			 			console.log(data)
			 		})
			 		.error(function(data) {
			 			console.log('Error: ' + data);
			 		}); 
			  };
			}
	 </script>
	</body> 
</html>