
<!doctype html> 
<html ng-app="WebController"> 
	<head> 
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>Web Services</title>
	  
	   <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='./s.css' />
	</head> 
	<body ng-controller="mainController"> 
	  <div class="container"> 
	 	<!--Cabecera-->
			<div class="jumbotron text-center" >
				<h1 id="pp">Angular Employee List <span class="label label-info">{{ employees.length }}</span></h1>
		  </div>

		  <table class="table">
		    <thead>
		      <tr>
		        <th>Firstname</th>
		        <th>Lastname</th>
		        <th>Email</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="employee in employees">
		        <td>{{ employee.name }}</td>
		      </tr>
		    </tbody>
		  </table>


		  

	 	<!--Delete and display--> 
		  <div id="employee-list" class="row">
				<div class="col-sm-4 col-sm-offset-4">
				 <div class="checkbox" ng-repeat="employee in employees">
					<label>
						<input type="checkbox" ng-click="deleteEmployee(employee._id)"> {{ employee.name }} 
					</label>
				 </div>
				</div>
			</div>


	 	<!--Formulario para insertar nuevos Todo--> 
	 		<div id="employee-form" class="row">
	 			<div class="col-sm-8 col-sm-offset-2 text-center">
	 				<form>
	 					<div class="form-group">
	 						<input type="text" class="form-control input-lg text-center" placeholder="Inserta nuevo empleado" ng-model="formData.name">
	 					</div>
	 					<button class="btn btn-primary btn-lg" ng-click="createEmployee()">Añadir</button>
	 				</form>
	 			</div>
	 		</div>




	  <!-- Find By Id-->

	  	<div>
				
					<input type="text" ng-model="valor">

			
			</div>

		 	<div id="employee-list" class="row">
				<div class="col-sm-4 col-sm-offset-4">
				 
					<label>
					<form></form>

						<button type="radio" ng-click="findEmployee('58477be9232619203cf62029')"> {{ valor }} </button>
					</label>
				 

				</div>
			</div>

			{{ femployee.name }}
			{{ valor }}
	  </div>

	  


	  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> 
	  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script> 
	  <script>
			angular.module('WebController', []); 

			function mainController($scope, $http) { 
				 $scope.formData = {};
				 getEmployees();

			// Create Employee
				 $scope.createEmployee = function(){
				 	$http.post('/api/employees', $scope.formData)
				 	.success(function(data) {
				 		$scope.formData = {};
				 		getEmployees();
				 	})
				 	.error(function(data) {
				 		console.log('Error:' + data);
				 	});
				 };
			
			// Delete Employee

				$scope.deleteEmployee = function(id) {
				  $http.delete('/api/employees/' + id)
				  .success(function(data) {
				 		getEmployees();
				  })
				  .error(function(data) {
				 		console.log('Error:' + data);
				  	});
				  };

				$scope.findEmployee = function(id){
					$http.get('/api/employees/' + id)
					.success(function(data){
						$scope.femployee = data;
						console.log(data)
					})
					.error(function(data){
						console.log('Error: ' + data);
					})
				}

				function getEmployees(){
			 		$http.get('/api/employees')
	 			  .success(function(data) {
			  		$scope.employees = data;
			 			console.log(data)
			 		})
			 		.error(function(data) {
			 			console.log('Error: ' + data);
			 		}); 
			  };
			}
	 </script>
	</body> 
</html>